TreemapDemo/*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
TreemapDemo/*.xcodeproj/xcuserdata/*.xcuserdatad/
TreemapDemo/*.xcodeproj/*.pbxuser
TreemapDemo/*.xcodeproj/*.mode*
TreemapDemo/build/Debug-*
TreemapDemo/build/Release-*
TreemapDemo/build/*.build
